* {
    box-sizing: border-box;
}
 html {
    font-family: 'roboto';
    color: rgba(255, 255, 255, 1);
 }

 body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 img {
    display: block;
 }

 a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
 }
 
.wrapper {
    max-width: 1030px;
    margin: auto;
}

header {
    display: flex ;
    margin-bottom: 20px;
    margin-top: 50px;
}
 
.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    color: rgba(242, 101, 34, 1);
}

.logo:hover .svgimg {
    fill: rgba(242, 101, 34, 1);
}

.svgimg {
    margin-right: 8px;
}

.milan {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 7px;
}

.holidays {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.headerinfo {
    margin-left: auto;
}

.headerinfo > a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.headerinfo > a:last-child {
    margin-top: 18px;
    margin-left: 70px;
}

.headerinfo > a:hover {
    color: rgba(242, 101, 34, 1);
}

.gridcontanir {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 0px 50px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridtxt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}

.gridimg {
    position: relative;
}

.imgpanel {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(242, 101, 34, 1);
    width: 100%;
    height: 55px;
}

.panelprice {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 7px;
}

.from {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}

.paneldetails {
    margin-left: auto;
    margin-right: 16px;
    margin-top: 28px;
}

.details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.details::after {
    content: url(../img/Vector.svg);
    margin-left: 16px;
}

.none {
    display: none;
}

.element:hover .none {
    display: block;
}

.element:hover .gridtxt {
    color: rgba(242, 101, 34, 1);
}

footer {
    text-align: center;
    padding-top: 10px;
}

.footertxt {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.gridtxt2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 12px;
}

.element:hover .gridtxt2 {
    color: rgba(242, 101, 34, 1);
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto/roboto-v30-latin-regular.woff2) format('woff2');
}